<div class='mx-auto mb-10'>
  <div id="accordion-collapse" data-accordion="collapse">
    <h2 id="accordion-collapse-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
        <span>DO DYEって何？</span>
        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
      <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          DO DYEは一次創作設定まとめ、共有アプリです。<br>より多くの一次創作作品と出会いたい、せっかく練った設定を過去の呟きに埋もれさせたくないという思いから作成しました。
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          ご意見ご感想がございましたら、下記連絡先までご連絡ください。
        </p>
          <ul class='pl-5 mt-2 space-y-1 list-outside'>
            <li>代表：砂漠</li>
            <li>Eメールアドレス：akathe917@gmail.com</li>
            <li>Twitter：<%= link_to '@_desert27 (Twitterへ移動します。)', 'https://twitter.com/_desert27', target: :_blank, rel: 'noopener noreferrer', class: 'hover:underline' %></li><br>
          </ul>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
        <span>トップページ</span>
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
      <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
        画面左上のDO DYEロゴを押すとトップページに移動します。
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
        トップページには作者が公開設定した作品が一覧表示されます。<br>
        作品のタイトルを押すと作品の詳細ページ、作品の著者を押すと作者のプロフィールページへ遷移します。
        </p>
        <p class="text-gray-500 dark:text-gray-400">
        誰でも見ることができる場になりますので不適切と判断した作品(例. R-18, R-18Gなど)を投稿された作者様には非公開のお願い、もしくは運営による削除を行う可能性があります。
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-3">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
        <span>ユーザー登録・ログイン</span>
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
      <div class="p-5 font-light border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          ユーザーを登録しなくても作品や作者の閲覧はできますが、ユーザーを登録(無料)しログインすることで以下の機能を使うことができます。
          <ul class='mb-2 pl-5 text-gray-500 list-disc'>
            <li>作品投稿</li>
            <li>作品に設定を追加</li>
          </ul>
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          まだユーザー登録したことがない方は画面右上の新規登録ボタンからユーザーを登録できます。<br>
          登録済みの方はログインからログインしてください。<br>
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-4">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
        <span>作品を登録する(要ログイン)</span>
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
      <div class="p-5 font-light border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          この機能を使うにはログインしてください。<br>
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          画面上部(無い場合は画面右上のボタンを押すと現れる)作品を追加リンクから作品を管理できます。<br>
          あなたの一次創作作品を是非登録してみてください。
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          登録する際、「トップページに作品を表示しない」のチェックボックスにチェックを入れるとトップページに表示されません。<br>
          (個人の願望なのですが、たくさんの人が作品を公開してくれたら嬉しいです......一次創作作品との出会いの場になったらいいなと思っています...！)
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-5">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-5" aria-expanded="false" aria-controls="accordion-collapse-body-5">
        <span>設定を追加する(要ログイン)</span>
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
      <div class="p-5 font-light border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          この機能を使うにはログインしてください。<br>
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          登録した作品の詳細ページにストーリー、キャラクター、ログのタブを用意しました。<br>
          世界観設定やキャラシなど、埋もれさせたくない設定を追加すると見返しやすいかと思います。
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          登録したいタブに移動し、〇〇を追加ボタンを押します。<br>
          文章、画像のほかツイートを埋め込めるようにしました。<br>
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          <%= link_to '運営の例', work_path(14), class: 'underline' %>を紹介しますので、よかったら参考にしてみてください。
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-6">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-6" aria-expanded="false" aria-controls="accordion-collapse-body-6">
        <span>プロフィール画面(要ログイン)</span>
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6">
      <div class="p-5 font-light border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          この機能を使うにはログインしてください。<br>
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          右上のご自身のユーザーネームを押すとプロフィールページへ遷移します。<br>
          ユーザー編集からご自身のプロフィールを編集できます。
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          ご自身が登録した作品が一覧で表示されます。<br>
          登録する際にトップページに表示しない設定にした作品もここからは閲覧できますのでご注意ください。
        </p>
      </div>
    </div>
  </div>
</div>