<ul class=''>
  <li class='flex items-center justify-between'>
    <%= button_to 'edit', edit_work_path(work), method: :get,class: 'bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
  </li>
  <li class='flex items-center justify-between'>
    <%= button_to 'destroy', work, method: :delete, data: { turbo_confirm: "削除してもよろしいですか？" },class: 'bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
  </li>
</ul>