<h1>Works#index</h1>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">

  <!-- 作品一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @works.present? %>
          <%= render @works %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to logout_path, data: { turbo_method: :delete, } do %>
  rogout
<% end %>