<footer class="bg-gray-50">
  <div class="p-4 py-6 mx-auto max-w-screen-xl md:p-8 lg:p-10">
    <ul class="flex flex-wrap items-center justify-center mb-6 text-gray-500">
      <li>
          <%= link_to '利用規約', terms_path, class: 'mr-4 hover:underline md:mr-6' %>
      </li>
      <li>
          <%= link_to 'プライバシーポリシー', privacy_path, class: 'mr-4 hover:underline md:mr-6' %>
      </li>
    </ul>
  </div>
</footer>